* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #888;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: #222;
}

header,
section,
footer {
    float: left;
    width: 100%;
}

header .inner-width-controller,
section .inner-width-controller {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 800px) {
    #top-bar {
        font-size: inherit;
    }
    
    #top-bar .fa-shopping-cart {
        display: inline-block;
        margin-right: 5px;
    }
    
    #top-bar .cart-txt {
        display: none;
    }
    
    #main-body > div > div {
        width: 100%;
        padding: 15px;
    }
}

/*** Header ***/
header {
    padding: 15px 0;
}

header .top-bar {
    background-color: #F6F6F7;
    font-size: 11px;
    float: left;
    width: 100%;
    padding: 0 10px;
}

header .top-bar > .inner-width-controller {
    text-align: right;
}

header .top-bar .fa-shopping-cart {
    display: none;
}

header .my-cart-btn-wrapper {
    float: right;
    position: relative;
}

header .my-cart-btn-wrapper:hover .my-cart-btn {
    background-color: #fff;
    border: 1px solid #CCC;
    border-bottom: 1px solid transparent;
}

header .my-cart-btn-wrapper:hover .cart-items {
    display: block;
}

header .my-cart-btn {
    color: #888;
    line-height: 30px;
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #F6F6F7;
    position: relative;
    z-index: 1000;
}

header .cart-items {
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: -2px 0 0 0;
    padding: 10px;
    width: 300px;
    display: none;
    right: 0;
    z-index: 900;
    text-align: left;
}

header .cart-items li {
    list-style-type: none;
    padding: 15px 10px;
    font-size: 13px;
    line-height: none;
    float: left;
    width: 100%;
}

header .cart-items li > div {
    float: left;
    color: #222;
}

header .cart-items li h1 {
    font-size: 14px;
}

header .cart-items .item-desc div {
    margin-bottom: 15px;
    padding: 0 0 0 20px;
}

header .cart-items .item-thumbnail {
    width: 65px;
}

header .cart-items .item-desc {
    width: calc(100% - 65px);
}

header .cart-items .item-thumbnail > img {
    width: 100%;
}

/*** Main Body ***/
section.main-body {
    margin-bottom: 100px;
}

section.main-body h1 {
    font-size: 20px;
}

section.main-body h2 {
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid #f8f8f8;
    margin: 20px 0 10px 0;
    font-size: 14px;
    padding: 10px 0;
}

section.main-body h3 {
    color: #888;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 20px 0 5px 0;
}

section.main-body h3 .required {
    color: #C90000;
}

section.main-body h3 .size-display {
    margin-left: 5px;
    color: #222;
}

section.main-body > div > div {
    float: left;
    padding: 25px 50px;
}

section.main-body .product-img {
    max-width: 550px;
    text-align: center;
    width: 100%;
}

section.main-body .product-desc {
    width: calc(100% - 550px);
}

section.main-body .product-img > img {
    max-width: 400px;
    width: 100%;
}

section.main-body h1,
section.main-body h2,
section.main-body h3,
section.main-body p,
section.main-body ul {
    float: left;
    width: 100%;
}

section.main-body p {
    line-height: 170%;
}

section.main-body ul {
    margin: 0;
    padding: 0;
}

section.main-body li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    line-height: 40px;
    width: 40px;
    text-align: center;
    font-size: 11px;
    margin: 10px 5px 0 0;
    cursor: pointer;
}

section.main-body li.active {
    border: 2px solid #222;
    color: #222;
}

section.main-body .add-to-cart-btn {
    border: 2px solid #222;
    padding: 5px 20px;
    letter-spacing: 1px;
    color: #222;
    font-weight: bold;
    display: inline-block;
    -webkit-transition:background-color 0.2s;
    -moz-transition:background-color 0.2s;
    -o-transition:background-color 0.2s;
    transition:background-color 0.2s;
}

section.main-body .add-to-cart-btn:hover {
    background-color: #222;
    color: #fff;
}

section.main-body .system-message {
    color: #222;
    margin-top: 20px;
    display: inline-block;
}